
@{
    ViewBag.Title = "Ajax_New";
}

<h2>New Teacher</h2>
@{
    /* AJAX Request to add teacher */
    /* No form submission needed */
    /* button onclick will handle form submission */
    /* Each item has an ID for validation && ajax submission */


}
<div id="containershow">
    <div class="inputrow">
        <label for="TeacherFname">First Name:</label>
        <input type="text" id="TeacherFname" name="TeacherFname" />

    </div>
    <div class="inputrow">
        <label for="TeacherLname">Last Name:</label>
        <input type="text" id="TeacherLname" name="TeacherLname" />

    </div>
    <div class="inputrow">
        <label for="TeacherNumber">Emplyee Number:</label>
        <input type="text" id="TeacherEmail" name="TeacherEmail" />
    </div>
    <div class="inputrow">
        <label for="TeacherSalary">Salary:</label>
        <div>
            <input id="TeacherSalary" name="TeacherSalary" />
        </div>
    </div>
    <div class="inputrow">
        <label for="Hiredate">Hiredate:</label>
        <div>
            <input id="Hiredate" name="Hiredate" />
        </div>
    </div>
    @{
        //AddTeacher() is a JS method defined in /Scripts/teachers.js
    }
    <button onclick="AddTeacher();">Add Teacher</button>
</div>

