@model IEnumerable<n01593039Assigment3.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<h2>Display Teacher List</h2>
<a href="/Teacher/New">Add A New Teacher</a>
<form method="GET" action="/Teacher/List">
    <input type="text" name="SearchKey"/>
    <input type="submit" value="Search">
</form>
@{ 
    foreach(n01593039Assigment3.Models.Teacher Teacher in Model)
            {
                <div>
                    <a href="/Teacher/Show/@Teacher.TeacherId">
                        @Teacher.TeacherFname @Teacher.TeacherLname
                    </a>
                </div>
            }
}

