@model n01593039Assigment3.Models.Student
@{
    ViewBag.Title = "Show";
}

<h2>Show Student's Information </h2>
<p>Student Fullname: @Model.StudentFname @Model.StudentLname</p>
<p> Student Number : @Model.StudentNumber</p>
<p>Enroll Date: @Model.Enrolldate</p>

